.todolist{



     display:grid;
    grid-template-columns: repeat(3,1fr);
    border: 5px solid black;
 


}

.todocard{

   
     border: 5px solid black;
  padding: 20px;
  margin:10px;
  gap:10px;
    


}