.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 3px solid black;
    padding:16px;
    gap: 16px;
}

.card{

    border: 2
    px solid black;
    padding:10px;

}