.counter{

    border: 2px solid black;
    border-radius: 10px;
    padding:20px;
    margin:10px;
    gap:20px;
      background-color: aqua;

}

.counter p{

  font-weight: 600;
}

button{
    background-color: yellowgreen;
}